<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
	<title></title>
	<meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
  <link href="https://fonts.googleapis.com/css?family=Muli&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha256-eZrrJcwDc/3uDhsdt61sL2oOBY362qM3lon1gyExkL0=" crossorigin="anonymous" />
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/waypoints/4.0.1/jquery.waypoints.min.js" integrity="sha256-jDnOKIOq2KNsQZTcBTEnsp76FnfMEttF6AV2DF2fFNE=" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Counter-Up/1.0.0/jquery.counterup.min.js" integrity="sha256-JtQPj/3xub8oapVMaIijPNoM0DHoAtgh/gwFYuN5rik=" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
     <link rel="stylesheet" href="css/ligne.css">
  
</head>
<body>

<nav class="navbar navbar-expand-lg nav_style p-3">
  <div class="logo">
  <a  href="#"><img src ="images/nakama.jpg"> </a>
  </div>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav ml-auto pr-5 text-capitalize">
      <li class="nav-item">
        <a class="nav-link" href="index">Home </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="about">About</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="symptoms">Symptoms</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="prevention">Prevention</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="countries">Covid-19 Country Statistics</a>
      </li>
       <li class="nav-item">
        <a class="nav-link" href="indiacoronalive">Corona Cases Live (India)</a>
      </li>
       <li class="nav-item active">
        <a class="nav-link" href="contact">Contact <span class="sr-only">(current)</span></a>
      </li>

    </ul>

  </div>
</nav>


<!-- /////////////// Contact Us ASAP ////////////// -->

<div class="container-fluid   pt-5 pb-5 " id="contactid">
	<div class="section_header text-center mb-5 mt-4">
		<h1> Contact Us </h1>
	</div>

	<div class="container">
		<div class="row">
		<div class="col-lg-8 offset-lg-2 col-12">


		<form action="#" th:action="@{/contact}" th:object="${message}" method="post"  onsubmit="return alert('Message Submitted. Thank You');">

		 	<div class="form-group">
		    	<label >Name </label>
		    	<input type="text" class="form-control" th:field="*{name}" placeholder="name" autocomplete="off" required>
		  	</div>

			  <div class="form-group">
			    <label >Email </label>
			    <input type="email" class="form-control" th:field="*{email}" placeholder="name@example.com" required autocomplete="off">
			  </div>
	
			  <div class="form-group">
			    <label >Mobile </label>
			    <input type="number" class="form-control" th:field="*{mobile}" placeholder="9876543210" autocomplete="off" required>
			  </div>
	
			  <div class="form-group">
			    <label for="exampleFormControlTextarea1">Message</label>
			    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" th:field="*{message}">Enter your message here</textarea>
			  </div>

	  			<button type="submit" class="btn btn-primary" name="submit">Submit</button>
		</form>
		</div>
		</div>
	</div>

</div>


<!-- /////////////////// footer ////////////// -->


<footer class="mt-5" style="position: fixed; bottom: 0; left: 0; width:100%; height:50px;">
  <div class=" footer_style bg-dark text-white container-fluid text-center" style= "padding: 15px;">
    <p>Copyrights by Team Nakama &copy;2020	</p>
  </div>
</footer>


<script type="text/javascript">
	

</script>

</body>
</html>

