<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
	<title></title>
	<meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
  <link href="https://fonts.googleapis.com/css?family=Muli&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha256-eZrrJcwDc/3uDhsdt61sL2oOBY362qM3lon1gyExkL0=" crossorigin="anonymous" />
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
   <script src="https://code.jquery.com/jquery-3.4.1.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/waypoints/4.0.1/jquery.waypoints.min.js" integrity="sha256-jDnOKIOq2KNsQZTcBTEnsp76FnfMEttF6AV2DF2fFNE=" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Counter-Up/1.0.0/jquery.counterup.min.js" integrity="sha256-JtQPj/3xub8oapVMaIijPNoM0DHoAtgh/gwFYuN5rik=" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
  <script src="js/IndiaChart.js"></script>
  <script src="js/WorldChart.js"></script>
  <link rel="stylesheet" href="css/ligne.css">
  <link rel="stylesheet" href="css/styles.css">
     

    <!-- Chart.js -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.js"></script>
     
  
</head>


<nav class="navbar navbar-expand-lg nav_style p-3">
  <div class="logo">
  <a  href="#"><img src ="images/nakama.jpg"> </a>
  </div>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav ml-auto pr-5 text-capitalize">
      <li class="nav-item active">
        <a class="nav-link" href="index">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="about">About</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="symptoms">Symptoms</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="prevention">Prevention</a>
      </li>
       <li class="nav-item">
        <a class="nav-link" href="countries">Covid-19 Country Statistics</a>
      </li>
       <li class="nav-item">
        <a class="nav-link" href="indiacoronalive">Corona Cases Live (India)</a>
      </li>
       <li class="nav-item">
        <a class="nav-link" href="contact">Contact</a>
      </li>

    </ul>

  </div>
</nav>

<div class="main_header">
	<div class="row w-100 h-100" >
		 <div class="col-lg-5 col-md-5 col-12 order-lg-1 order-2">
		 	<div class="leftside w-100 h-100 d-flex justify-content-center align-items-center">
		 		<img src="/images/eksath.png" width="300" height="300">
		 	</div>
		 </div>

		 <div class="col-lg-7 col-md-7 col-12 order-lg-2 order-1">
		 	<div class="rightside w-100 h-100 d-flex justify-content-center align-items-center">
		 		<h1>Let's Stay Safe & Fight Together Against Cor<span class="corona_rot"> <img src="images/corona.png"> 
		 		</span>na Virus</h1>
		 	</div>
		 </div>
	</div>
</div>


<!-- **************** corona latest updates ************** -->

<section class="corona_update">
	<div class="mb-3">
		<h3 class="text-uppercase text-center">Covid-19 updates</h3>
	</div>
	
	<div class="container" style="margin:40px auto;">
		<div class="row">
			<div class="col-md-2 col-sm-6 counter">
				<h1 class="count" id="TotalConfirmed" th:text="${TotalConfirmed}"></h1>
				<p>Total Confirmed</p>
			</div>
			<div class="col-md-2 col-sm-6 counter">
				<h1 class="count"  id="NewConfirmed" th:text="${NewConfirmed}">  </h1>
				<p>New Confirmed</p>
			</div>
	
			<div class="col-md-2 col-sm-6 counter">
				<h1 class="count" id="TotalRecovered" th:text="${TotalRecovered}"></h1>
				<p>Total Recovered</p>
			</div>
			<div class="col-md-2 col-sm-6 counter">
				<h1 class="count" id="NewRecovered" th:text="${NewRecovered}"></h1>
				<p>New Recovered</p>
			</div>
			
			<div class="col-md-2 col-sm-6 counter">
				<h1 class="count" id="TotalDeaths" th:text="${TotalDeaths}"></h1>
				<p>Total Deaths</p>
			</div>
			<div class="col-md-2 col-sm-6 counter">
				<h1 class="count" id="NewDeaths" th:text="${NewDeaths}"></h1>
				<p>New Deaths</p>
			</div>
		</div>
	
	</div>
	
	
<div class="mb-25">
		<h3 class="text-uppercase text-center">World Corona Cases</h3>
		<canvas id="myWorldChart"></canvas>
	</div>
	
	<div class="mb-25">
		<h3 class="text-uppercase text-center mb-15">India Corona Cases</h3>
		<canvas id="myChart"></canvas>
	</div>

</section>

<!-- ///////////// top cursor /////////// -->

<div class="container scrolltop float-right pr-5">
	<i class="fa fa-arrow-up" onclick="topFunction()" id="myBtn"> </i>
</div>


<!-- /////////////////// footer ////////////// -->

<footer class="mt-5" style="position: fixed;bottom: 0; left: 0; width:100%; height:50px;">
  <div class=" footer_style bg-dark text-white container-fluid text-center" style= "padding: 15px;">
    <p>Copyrights by Team Nakama &copy;2020	</p>
  </div>
</footer>


<script type="text/javascript">

$('.count').counterUp({
	delay:10,
	time:4000
})

	

// When the user clicks on the button, scroll to the top of the document
function topFunction() {
	document.body.scrollTop = 0; // For Safari
	document.documentElement.scrollTop = 0; // For Chrome, Firefox, IE and Opera
}


</script>

</body>
</html>

