<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
	<title></title>
	<meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
  <link href="https://fonts.googleapis.com/css?family=Muli&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha256-eZrrJcwDc/3uDhsdt61sL2oOBY362qM3lon1gyExkL0=" crossorigin="anonymous" />
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/waypoints/4.0.1/jquery.waypoints.min.js" integrity="sha256-jDnOKIOq2KNsQZTcBTEnsp76FnfMEttF6AV2DF2fFNE=" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Counter-Up/1.0.0/jquery.counterup.min.js" integrity="sha256-JtQPj/3xub8oapVMaIijPNoM0DHoAtgh/gwFYuN5rik=" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
     <link rel="stylesheet" href="css/ligne.css">
  
</head>
<body onload="fetch()">

<nav class="navbar navbar-expand-lg nav_style p-3">
  <div class="logo">
  <a  href="#"><img src ="images/nakama.jpg"> </a>
  </div>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav ml-auto pr-5 text-capitalize">
      <li class="nav-item active">
        <a class="nav-link" href="index">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="about">About</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="symptoms">Symptoms</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="prevention">Prevention</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="countries">Covid-19 Country Statistics</a>
      </li>
       <li class="nav-item">
        <a class="nav-link" href="indiacoronalive">Corona Cases Live (India)</a>
      </li>
       <li class="nav-item">
        <a class="nav-link" href="contact">Contact</a>
      </li>

    </ul>

  </div>
</nav>

<!-- /////////////// Coronavirus symptoms ////////////// -->

<div class="container-fluid  pt-5 pb-5 " id="aboutid">
	<div class="section_header text-center mb-5 mt-4">
		<h1> Coronavirus symptoms</h1>
	</div>

	<div class="container">
		<div class="row">
			<div class="col-lg-4 col-md-4 col-12 mt-5">
				<figure class="text-center">
				<img src="images/cough.png" class="img-fluid " width="120" height="120" >
				<figcaption> cough</figcaption>
				</figure>
			</div>

			<div class= "col-lg-4 col-md-4 col-12 mt-5 " > 
				<figure  class="text-center">
					<img src="images/runnynose.png" class="img-fluid" width="120" height="120">
					<figcaption > runny nose </figcaption>
				</figure>
			</div>

			<div class= "col-lg-4 col-md-4 col-12 mt-5 " > 
				<figure  class="text-center">
					<img src="images/fever.png" class="img-fluid" width="120" height="120">
					<figcaption > fever </figcaption>
				</figure>
			</div>

			<div class= "col-lg-4 col-md-4 col-12 mt-5 " > 
				<figure  class="text-center">
					<img src="images/sick.png" class="img-fluid" width="120" height="120">
					<figcaption > cold </figcaption>
				</figure>
			</div>

			<div class= "col-lg-4 col-md-4 col-12 mt-5 " > 
				<figure  class="text-center" >
					<img src="images/week.png" class="img-fluid" width="120" height="120">
					<figcaption > tiredness </figcaption>
				</figure>
			</div>

			<div class= "col-lg-4 col-md-4 col-12 mt-5 " > 
				<figure  class="text-center">
					<img src="images/breath.png" class="img-fluid" width="120" height="120">
					<figcaption > difficulty breathing (severe cases) </figcaption>
				</figure>
			</div>
		</div>
	</div>

</div>



<!-- /////////////////// footer ////////////// -->


<footer class="mt-5" style="position: fixed; bottom: 0; left: 0; width:100%; height:50px;">
  <div class=" footer_style bg-dark text-white container-fluid text-center" style= "padding: 15px;">
    <p>Copyrights by Team Nakama &copy;2020	</p>
  </div>
</footer>



</body>
</html>

